<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular4</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/main']">Main</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/login']">Login</a></li>
      <li><a>Products</a></li>
      <li><a>Categories</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/posts']">Posts</a></li>
      <li><a [routerLink]="['/login']">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
